<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <blockquote>
    <form action="/submit-form" method="post">
        <h1>Form</h1>
        <hr>
        <label for="Name">Name</label>
        <br>
        <input type="text" name="name">
        <br>
       
        <label for="email">Email</label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="address">Address</label>
        <br>
        <input type="text" name="address">
        <br>
        <input type="submit">
    </form>
    <h1>Data from MongoDB</h1>
<ul>
    <% users.forEach(function(user) { %>
        <li>Name: <%= user.name %>, Email: <%= user.email %>, Address: <%= user.address %></li>
    <% }); %>
</ul>

    </blockquote>
</body>
</html>